*/babel/*.json
.idea
.vscode
*__pycache__*
*.egg-info
outputs
outputs/*
output
output/*
rendered_images/*
*tmp*
results
results/*
exps/*
.DS_Store
**/.DS_Store
wandb/*
newton_source/*
.claude/*
!.claude/commands/
.cursor/
renders/
datasets/
